<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>exercise2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Explore Nearby Places</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Shopping Mall</ion-item>
        <ion-item>Hospital</ion-item>
        <ion-item>Cafe</ion-item>
        <ion-item>Park</ion-item>
        <ion-item>Pub</ion-item>
        <ion-item>Movie Theater</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
