#searchButton {
    width: 70px;
    height: 44px;
    margin-top: 2px;
    margin-left: 4px;
}

ion-input {
    border: 1px solid #ccc;
    margin-left: 15px;
    width: 253px;
}

ion-row {
    margin-bottom: 30px;
}

#buttonGrid {
    margin-bottom: 45px;
}