<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Components </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Components</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ionic Cards</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button [routerLink]="'/sample-page1'"> Ionic Card </ion-button>
        <ion-button [routerLink]="'/sample-page2'"> Media Card </ion-button>
        <ion-button [routerLink]="'/sample-page3'"> List Card </ion-button>
        <ion-button [routerLink]="'/sample-page4'"> Media Card </ion-button>

        <ion-button [routerLink]="'/exercise1'" color="success"> Exercise1 </ion-button>
        <ion-button [routerLink]="'/exercise2'" color="success"> Exercise2 </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Ionic Chips</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button [routerLink]="'/exercise3'" color="success"> Exercise3 </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Ionic Grid</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button [routerLink]="'/exercise4'" color="success"> Exercise4 </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Ionic List</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button [routerLink]="'/sample-page12'"> Avatar & Thumbnail List </ion-button>
        <ion-button [routerLink]="'/sample-page13'"> Clickable List </ion-button>
        <ion-button [routerLink]="'/sample-page14'"> Sliding Items List </ion-button>
        <ion-button [routerLink]="'/sample-page15'"> List With Swipe Event </ion-button>
        <ion-button [routerLink]="'/sample-page16'"> Reorder List </ion-button>
        <ion-button [routerLink]="'/exercise7'" color="success"> Exercise7 </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Ionic Inputs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button [routerLink]="'/sample-page17'"> Basic Usage </ion-button>
        <ion-button [routerLink]="'/sample-page18'"> Label Placement </ion-button>
        <ion-button [routerLink]="'/sample-page19'"> Types </ion-button>
        <ion-button [routerLink]="'/sample-page20'"> Clear Options </ion-button>
        <ion-button [routerLink]="'/sample-page21'"> Helper & Error Text </ion-button>
        <ion-button [routerLink]="'/sample-page23'"> Input Events </ion-button>
        <ion-button [routerLink]="'/exercise9'" color="success"> Exercise9 </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
